/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 50%;
  width: 50%;
  padding: 0;
  margin: 0;
	background-image: url("pizza1.jpg");
	background-size:contain
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: rgb(180, 196, 0);
}	


.center {
    width: 600px;
	padding: 2%;
    margin: 10px auto;
 }

   
#logo {
	margin-bottom: 0px;
	background-color: rgba(180, 196, 0, 0.473);
	text-align: left;
	margin-top:10;
	
}

h1 {
	/* font-family: stolzl, sans-serif;font-style: normal;font-weight: 200*/
	font-size: 4em;
    margin: 10px auto 10px auto;
    color: rgb(180, 196, 0);
	padding: 40px 40px;
	text-align: left;
	margin-top: 0px;
}

h2 {
	 /*font-family: stolzl, sans-serif;font-style: normal;font-weight: 100*/
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 10px 40px;
    margin: 0px auto 25px auto;
}

p {
	/* font-family: stolzl, sans-serif;font-style: normal;font-weight: 100*/		
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
	padding: 10px 40px;
}
nav{
	/*font-family: stolzl, sans-serif;font-style: normal;font-weight: 100*/
	font-size: 1.5em;
	line-height: 1.4;
	color: #fff;
	padding: 10px 40px;
	margin: 0px auto 25px auto;
	width: auto;
	height: fit-content;
	color: rgb(180, 196, 0);
	margin-left: 40px;
}
    
    

